[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
python-dotenv = "*"
flask-apscheduler = "*"
flask-jwt-extended = "*"
sqlalchemy-serializer = "*"
requests = "*"
bcrypt = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-login = "*"
flask-bcrypt = "*"
cloudinary = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.8"
